*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}
.start_btn,
.info_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button Styling */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(75, 4, 75);
    cursor: pointer;
}

.info_box{
    width: 540px;
    background: white;
    border-radius: 5px;

}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color:rgb(75, 4, 75);
}

.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(75, 4, 75);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: white;
    background: rgb(75, 4, 75);
}

.buttons button.restart:hover{
    background: rgb(146, 8, 146);
}

.buttons button.quit{
    color:rgb(75, 4, 75);
    border-color: rgb(75, 4, 75);

}

.buttons button.quit:hover{
    background: rgb(146, 8, 146);
}